*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-size: 2.5vmin;
  font-size: var(--font-size);
  background-color: black;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
}

#guesses {
  align-self: center;
  width: min-content;
}

#makeGuess {
  display: flex;
  justify-content: center;
  width: 100vmin;
  align-self: center;
  padding: 0 1vmin;

  select {
    width: 90%;
  }
  button {
    width: 10%;
  }
  select,
  button {
    height: calc(10px + var(--font-size));
    font-size: var(--font-size);
  }
}

.guessRow,
#guessHeader {
  display: flex;
  justify-content: center;
}
.guessTitle {
  width: 20%;
  text-align: center;
  align-content: center;
}

.guessBubble {
  width: 18vmin;
  min-height: 18vmin;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--font-size);
  margin: 1vmin;
  user-select: none;
  border: solid 2px #e1c362;
}

.disabled {
  user-select: none;
}
