*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-size: 2.5vmin;
  font-size: var(--font-size);
  background-color: black;
  color: white;
}

a,
a:visited {
  color: blue;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

#guesses {
  align-self: center;
  width: min-content;
}

#makeGuess {
  display: flex;
  justify-content: center;
  width: 100vmin;
  align-self: center;
  padding: 1vmin 0;

  .customSelect {
    width: 90%;
  }
  button {
    border-radius: 0;
    width: 10%;
  }
  .customSelect,
  button {
    height: calc(10px + var(--font-size));
  }
}

button {
  font-size: var(--font-size);
  background-color: #292d34;
  border-color: #e1c362;
  color: white;
  cursor: pointer;
}
input {
  font-size: var(--font-size);
}

.guessRow,
#guessHeader {
  user-select: none;
  display: flex;
  justify-content: center;
}
.guessTitle {
  width: 20%;
  text-align: center;
  align-content: center;
}

.guessBubble {
  width: 18vmin;
  min-height: 18vmin;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--font-size);
  margin: 1vmin;
  border: solid 2px #e1c362;
}

footer {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 1vmin;
  position: fixed;
  bottom: 0px;
  background-color: #444;
  color: black;
  display: flex;
  justify-content: space-between;
}

.customSelect {
  position: relative;
  margin: 0;
  user-select: none;
  border: solid 2px #e1c362;
  input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    user-select: none;
    background-color: #292d34;
    color: white;
  }
  ul {
    width: 100vmin;
    max-height: 80vh;
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: absolute;
    background-color: #292d34;
    visibility: hidden;
    overflow: scroll;
    margin-left: -2px;
    border: solid 2px #e1c362;
    li {
      transition:
        color 0.1s ease,
        background 0.1s ease;
      color: white;
      &:hover:not(.disabled) {
        background: #323844;
      }
      &.disabled {
        cursor: initial;
        color: #444;
      }
      &.hidden {
        height: 0;
        visibility: collapse;
        display: none;
      }
    }
  }
  &.opened {
    ul {
      visibility: visible;
    }
  }
}
